 <div class="container bg-dark text-white py-5 text-center">

    <form class="container text-center" #ReporForm="ngForm" (ngSubmit)="onSubmit(ReporForm)" >
        <div class="container">
            <div class="container text-center text-white ">
              <h2>INGRESOS - EGRESOS</h2>
            </div>
            <br>
            <div class="form-group">
              <input class="form-control" name="Repor_Descipcion" placeholder="Ingrese Descripcion" #Repor_Descipcion="ngModel" [(ngModel)]="t.selectedRepor.Repor_Descipcion"  required>
            </div>
            <div class="form-group">
              <input class="form-control" name="Repor_MontoTotal" placeholder="Ingrese Monto" #Repor_MontoTotal="ngModel" [(ngModel)]="t.selectedRepor.Repor_MontoTotal"  required>
            </div>
            <div class="form-group">
            <input class="form-control" name="Repor_NumUnidades" placeholder="Ingrese No de Unidades" #Repor_NumUnidades="ngModel" [(ngModel)]="t.selectedRepor.Repor_NumUnidades"  required>
            </div>
            <div class="form-group">
            <input class="form-control" type="date" name="Repor_Fecha" placeholder="Ingrese Fecha" #Repor_Fecha="ngModel" [(ngModel)]="t.selectedRepor.Repor_Fecha"  required>
            </div>
            <div class="form-group">
            <input class="form-control" name="Tienda_Id" placeholder="Ingrese id Tienda" #Tienda_Id="ngModel" [(ngModel)]="t.selectedRepor.Tienda_Id"  required>
            </div>
            <div class="form-group">
            <input class="form-control" name="En_id" placeholder="Ingrese id Encargado" #En_id="ngModel" [(ngModel)]="t.selectedRepor.En_id"  required>
            </div>
            <div class="form-group">
            <input class="form-control" name="TipoA_id" placeholder="Ingrese Tipo de Accion" #TipoA_id="ngModel" [(ngModel)]="t.selectedRepor.TipoA_id"  required>
            </div>
        </div>
        <div class="form-row">
              <div class="form-group col-md-4"> 
                <button class="btn btn-success" type="submit">AGREGAR REPORTE</button>
              </div>
              <div class="form-group col-md-4">
                  <button class="button btn-danger" (click)="resetForm(ReporForm)">LIMPIAR CAMPOS</button>
            </div>
              <div class="form-group col-md-4">
                <a class="btn btn-primary" href="../inicio_catalogos/index_catalogos.php"> IR A INICIO</a>
              </div>
        </div>
            
      </form>
 </div>
 
