
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white active">
    <a class="navbar-brand" href="#">TIENDA "LA RED"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-white">
        <a class="nav-item nav-link active" routerLink="/encargadoscomponent">ENCARGADOS</a>
        <a class="nav-item nav-link active" routerLink="/tiendascomponent">TIENDAS</a>
        <a class="nav-item nav-link active" routerLink="/rolescomponent">ROLES</a>
        <a class="nav-item nav-link active" routerLink="/reportescomponent" >INGRESO/EGRESO</a>
      </div>
    </div>
  </nav>
