<p>
  tienda works!
</p>

<ul>
  <li>
    <a routerLink="/tiendascomponent" routerLinkActive="active">tiendas</a>
  </li>
  <li>
   <a routerLink="/encargadoscomponent" routerLinkActive="active">encargados</a>
  </li>
  <li>
   <a routerLink="/rolescomponent" routerLinkActive="active">roles</a>
  </li>
  <li>
   <a routerLink="/reportescomponent" routerLinkActive="active">reportes</a>
  </li>
 
 
 </ul>

 <br>

 <form class="container text-center" #TiendaForm="ngForm" (ngSubmit)="onSubmit(TiendaForm)" >
  <div class="form-control-lg">
      
      <div class="form-control-lg">
        <input  name="Tienda_Nombre" placeholder="Ingrese Nombre" #Tienda_Nombre="ngModel" [(ngModel)]="t.selectedStore.Tienda_Nombre"  required>
      </div>
      <br>
      <div class="form-control-lg">
        <input name="Tienda_Direccion" placeholder="Ingrese Direccion" #Tienda_Direccion="ngModel" [(ngModel)]="t.selectedStore.Tienda_Direccion"  required>
    </div>
    
<br>
<br>
  </div>
  <div> 
    <button class="btn btn-dark" type="submit">Enviar Formulario</button>
    <button style="margin-left: 10px" class="button-xlarge pure-button" type="button" (click)="resetForm(TiendaForm)"> Borrar</button>
  </div>




  <br>
  <div class="form-control-lg">
      <a class="btn btn-danger" href="../inicio_catalogos/index_catalogos.php"> Ir a Inicio</a>
  </div>
</form>



