<div class="container bg-dark text-white py-5 text-center">
    <form class="container text-center" #EncargadoForm="ngForm" (ngSubmit)="onSubmit(EncargadoForm)" >
        <div class="container">
            <div class="container text-center text-white ">
                <h2>AGREGAR NUEVO ENCARGADO</h2>
              <hr>
              </div>
            
            <div class="form-group">
              <input class="form-control" name="En_Nombre" placeholder="Ingrese Nombre" #En_Nombre="ngModel" [(ngModel)]="e.selectedManager.En_Nombre"  required>
            </div>
            <br>
            <div class="form-group">
              <input class="form-control" name="En_Apellido" placeholder="Ingrese Apellido" #En_Apellido="ngModel" [(ngModel)]="e.selectedManager.En_Apellido"  required>
          </div>
          <br>
          <div class="form-group">
            <input class="form-control"  name="En_Rolid" placeholder="Ingrese Rol" #En_Rolid="ngModel" [(ngModel)]="e.selectedManager.En_Rolid"  required>
        </div>
    
        </div>
        <div class="form-row">
            <div class="form-group col-md-4"> 
                <button class="btn btn-success" type="submit">AGREGAR ENCARGADO</button>
            </div>
            <div class="form-group col-md-4">
                  <button class="btn btn-danger" type="button" (click)="resetForm(EncargadoForm)">LIMPIAR CAMPOS</button>
            </div>
            <div class="form-group col-md-4">
                  <a class="btn btn-primary" href="../inicio_catalogos/index_catalogos.php">IR A INICIO</a>
            </div>
        </div>
      </form>
</div>
