<style>
    .contenedor
    {
        width:300px;
        height:300px;
    }
</style>
<div class="container">
    <div class="form-row">
        <div class="container text-center">
                <h2 class="text-center">CREADO POR</h2>
        </div>
        <div class="form-group col-md-4 text-center">
            <h2 class="">El Negro</h2>       
                <img class="img-thumbnail contenedor" src="https://scontent.fgua3-1.fna.fbcdn.net/v/t1.0-9/31138888_1508024652657762_6290198540949913600_n.jpg?_nc_cat=0&oh=1de58e1fdd3fe744c3c7ab0ab73ef82e&oe=5C29D67E" alt="">
        </div>
        <div class="form-group col-md-4 text-center"> 
            <h2>|</h2>
            <img class="img-thumbnail contenedor" src="http://www.museoelrehilete.org.mx/images/areas-logos/tecnologia-logo.png" alt="">
        </div>
        <div class="form-group col-md-4 text-center">
            <h2>ChupalPerro 69</h2>
            <img class="img-thumbnail contenedor" src="https://scontent.fgua3-1.fna.fbcdn.net/v/t1.0-9/23518976_2207686982590518_7813966693101699087_n.jpg?_nc_cat=0&oh=5d6bb6f96db27310c0184ac187bc3fbb&oe=5C34B40E" alt="">
        </div>

    </div>
    
</div>

